@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
/*Home*/
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
body {
  background-color: #F0FDEC;
  min-width: 320px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
.navbar-wrapper {
  position: fixed;
  z-index: 201;
  opacity: 0.8;
  font-size: 20px;
}
.dropdown-menu {
  background-color: black;
}
.dropdown-menu > li > a {
  color: white;
}
.carousel {
  height: 280px;
}
.carousel .item {
  height: 280px;
  background-color: blue;
}
.carousel-caption {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
.back_video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  overflow: hidden;
}
/*Columnas*/
.comentario {
  text-align: center;
  margin-bottom: 100px;
}
.img-circle {
  margin: auto;
  width: 280px;
  height: 280px;
  box-shadow: inset 0 0 0 2px rgba(40, 96, 144, 0.6);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  border-radius: 50%;
  background-color: #63626A;
  /*color de fondo de las fotos estándar*/
}
.img-circle > div {
  transition: all 0.8s ease-in-out;
  border-radius: 50%;
}
#serv {
  background-image: url(img/guia_columna.jpg);
  width: 280px;
  height: 280px;
  background-size: 180% 260%;
  background-position: left top;
}
#somos {
  background-image: url(img/planeacion_quirurgica_tibia.jpg);
  background-repeat: no-repeat;
  width: 280px;
  height: 280px;
  background-size: 130% 180%;
  background-position: center 10%;
}
a.col {
  text-decoration: none;
}
.col-lg-6 .titulo {
  text-align: center;
}
.col-lg-6 p {
  color: #4B4E4A;
  font-size: 150%;
}
.col-lg-6:hover .titulo::before {
  opacity: 1;
  transform: translateX(0px);
}
.col-lg-6:hover .titulo::after {
  opacity: 1;
  transform: translateX(0px);
}
.col-lg-6:hover .img-circle div {
  box-shadow: inset 0 0 0 12px rgba(40, 96, 144, 0.2);
}
.col-lg-6:hover .img-circle #serv {
  background-size: 100% 150%;
  background-position: left top;
  transform: rotate(5deg);
}
.col-lg-6:hover .img-circle #somos {
  background-size: 100% 140%;
  background-position: center 20%;
}
.titulo::before,
.titulo::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}
.titulo::before {
  margin-right: 10px;
  content: '[';
  transform: translateX(20px);
}
.titulo::after {
  margin-left: 10px;
  content: ']';
  transform: translateX(-20px);
}
/*Section*/
.img_circle_header {
  margin: auto;
  width: 280px;
  height: 280px;
  box-shadow: inset 0 0 0 2px rgba(40, 96, 144, 0.6);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  border-radius: 50%;
  background-color: #63626A;
  /*color de fondo de las fotos estándar*/
  margin-top: 180px;
  width: 200px;
  height: 200px;
}
.img_circle_header > div {
  transition: all 0.8s ease-in-out;
  border-radius: 50%;
}
.featurette {
  transition: transform 0.6s ease-in-out;
}
.featurette:target {
  background: red;
}
.section_title {
  font-size: 50px;
  text-align: center;
}
.featurette-heading {
  font-size: 35px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.featurette-divider {
  margin-top: 40px;
  margin-bottom: 40px;
}
.carousel_featurette {
  height: 330px;
}
.img_featurette {
  max-height: 100%;
}
.visual_featurette > div {
  overflow: hidden;
  text-align: center;
}
.visual_featurette > div img,
.visual_featurette video {
  display: block;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
/* MEDIA QUERIES */
/* Imagenes 480x320 */
@media (min-width: 992px) {
  .vertical_align {
    display: flex;
    align-items: center;
  }
  .visual_featurette {
    margin-top: 60px;
  }
  .visual_featurette > div {
    height: 330px;
  }
  .visual_featurette > div img,
  .visual_featurette div video {
    max-height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
  }
  .carousel {
    height: 400px;
  }
  .carousel .item {
    height: 400px;
    background-color: white;
  }
  .carousel h1 {
    font-size: 91px;
  }
  .carousel p.descripcion {
    font-size: 41px;
  }
}
